<!DOCTYPE html>
<html>
  <head>
    <title>Rails time travel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      <%= raw render('/rails_time_travel/shared/bulma') %>

      body {
        padding-top: 50px;
      }
    </style>
  </head>
  <body>

    <div class="container main">
      <div class="notification is-primary">
        <div class="columns">
          <div class="column">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
